<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.facapp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FacApp"
        tools:targetApi="31">
<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".Register_student"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".Faculty"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".AttendanceActivity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".Activity"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".MyAadCalendar"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".dateFormat"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".Home"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".SignUpScreenActivity"-->
<!--            android:label="signup_screen">-->
<!--        </activity>-->

<!--        <activity-->
<!--            android:name=".ForgotPasswordScreenActivity"-->
<!--            android:label="forgot_password_screen">-->
<!--        </activity>-->

<!--        <activity-->
<!--            android:name=".OTPScreenActivity"-->
<!--            android:label="otp_screen">-->
<!--        </activity>-->

<!--        <activity-->
<!--            android:name=".NewPasswordScreenActivity"-->
<!--            android:label="new_password_screen">-->
<!--        </activity>-->
<!--        <activity-->
<!--            android:name=".Activity"-->
<!--            android:label="activity">-->
<!--        </activity>-->


<!--        <activity-->
<!--            android:name=".MarksListActivity"-->
<!--            android:label="marks_list_screen">-->
<!--        </activity>-->

        <activity android:name=".CoursesListActivity"
            android:label="Course List"/>

        <activity
                    android:name=".Activity"
                    android:label="marks_list_screen">
        </activity>

        <activity
                    android:name=".AttendanceActivity"
                    android:label="marks_list_screen">
        </activity>

        <activity
                    android:name=".Faculty"
                    android:label="marks_list_screen">
        </activity>

        <activity
                    android:name=".Home"
                    android:label="marks_list_screen">
        </activity>


        <activity
                    android:name=".MainActivity"
                    android:label="marks_list_screen">
        </activity>

        <activity
                    android:name=".MarksListActivity"
                    android:label="marks_list_screen">
        </activity>

        <activity
                    android:name=".MyAadCalendar"
                    android:label="marks_list_screen">
        </activity>

        <activity
                    android:name=".Register_student"
                    android:label="marks_list_screen">
        </activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>